@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("satoshi.css");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-righteous: "Righteous", sans-serif;
  --font-satoshi-medium: "Satoshi-Medium", sans-serif;
  --font-satoshi-bold: "Satoshi-Bold", sans-serif;

  /* Colors */
  --color-off-white: #fdfdfc;
}

.input {
  @apply font-satoshi-medium text-base max-md:text-sm rounded-lg border border-black/25 px-4 py-2 focus:outline-1 focus:outline-black/25 focus:bg-white;
}
