@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("satoshi.css");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-righteous: "Righteous", sans-serif;
  --font-satoshi-medium: "Satoshi-Medium", sans-serif;
  --font-satoshi-bold: "Satoshi-Bold", sans-serif;

  /* Colors */
  --color-off-white: #fdfdfc;
}
